{% extends 'super.html' %} {%block content%}
<div class="section">
  <h2>{{event.name}}</h2>
  <!-- urlizes any link it sees that starts with http or www.// while line breaks formats my code nicely -->
  <p class="section">{{event.description|linebreaks|urlize}}</p>
</div>
<div class="reg-sub--wrapper section">
  <div>
    {% if registered %}
    <p class="text--success">you are already registered||</p>

    {%else%}
    <a class="register" href="{%url 'register_confirm' event.id%}">
      Register
    </a>
    {%endif%}
  </div>
  <div>
    {%if submitted%}
    <p class="text--success">youve already submitted for this project</p>
    {%elif submit_if_registered%}
    <p>youve to register before submitting a project</p>
    {%else%}
    <a class="register" href="{%url 'submit-project' event.id %}">
      Submit Project
    </a>
    {%endif%}
  </div>
  <!-- {% for sub in event.submission_set.all%}
  <a class="register" href="{%url 'update-form' sub.id%}"
    >update submitted project</a
  >
  {%endfor%} -->
</div>
<div>
  <div class="users--lists section">
    {%for user in event.participants.all%}
    <a href="{%url 'user-profile' user.id%}">
      <div class="users">
        <img class="user--avatar" src="{{user.avatar.url}}" alt="my image" />
        <h4>{{user.name}}</h4>
      </div>
    </a>
    {%endfor%}
  </div>
</div>

{%endblock content%}
