{% extends 'super.html' %} {%block content%} {%if page == 'login'%}

<div class="login--register--container">
  <h2>login User</h2>
  <br />
  <form action="{% url 'login'%}" method="POST">
    {%csrf_token%}
    <label> EMAIL</label>
    <input type="email" name="email" />
    <label> PASSWORD</label>
    <input type="password" name="password" />
    <input
      class="mylogout"
      style="width: fit-content"
      type="submit"
      name="submit"
    />
  </form>
  <p>dont have an account?</p>
  <a href="{%url 'register'%}">register</a>
</div>

{%else%}
<div class="login--register--container">
  <h2>register User</h2>
  <br>
  <form action="{%url 'register' %}" method="POST">
    {%csrf_token%} {%for field in form%}
    <label>{{field.label}} :</label>

    {{field}} {%endfor%}
    <button class="mylogout">submit</button>
  </form>

  <p>already have an account? <a href="{% url 'login'%}">Login </a></p>
</div>

{%endif%} {%endblock content%}
