{%block content%}
 <div class="nav--container">
   <div>
      <a href="{%url 'index'%}">Home</a>
      <!-- theres a method is_authenticated that helps us check if the user is actually logged in  
     i can access the user using request.user.isauthemticated rather than passing it through the context-->
     <a href="{%url 'account-page'%}">Account</a>
   </div>
    <div>
    {%if user.is_authenticated%}
    <a href="{% url 'logout'%}">logout</a>
    {%else%}
    <a href="{% url 'login' %}">login</a>
    {%endif%}
   </div>
 </div>
 {%endblock content%}